.footer {
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    margin-top: 2%;
    padding: 15% 2% 3% 2%;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.foot_left {
    text-align: left;
}

.foot_left_icon img {
    height: 65px;
    width: 65px;
}


.foot_left>img {
    width: 40px;
    height: 40px;
}

.foot_left_desc span {
    display: flex;
    align-items: center;
}

.foot_left_desc .foot_about {
    width: 340px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 25px;
}

.foot_created {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.foot-left-desc span>h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 15px;
}

.foot_left_icon {
    margin-left: -20px;
    margin-top: 20px;
}

.footbar {
    display: flex;
}

.foot_right {
    padding: 20px;
    display: flex;
    text-align: left;
}

.foot_right_link {
    margin-right: 50px;
}

.foot_right .product {
    margin-right: 100px;
}

.foot_right_link ul li {
    list-style: none;
    margin-top: 20px;
    transition: all 0.4s;
}

.foot_right_link ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

/* animation */
.btn:hover,
.foot_left_icon img:hover,
.foot_right_link ul li:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

@media only screen and (max-width: 425px) {
    .card_banner {
        display: none;
        margin: 0 auto;
        width: 100%;
    }

    footer {
        padding: 25px auto;
    }

}

@media only screen and (max-width: 768px) {
    .form_bar {
        margin: 0 auto;
        width: 90%;
    }

    footer {
        max-width: 1440px;
        flex-direction: column-reverse;
        padding: 20px auto;
        margin: 0 auto;
    }

    .foot_left_desc .foot_about {
        width: auto;
    }

    .foot_right_link {
        margin-right: 0;
    }

    .foot_right {
        margin: 30px 0 10px 0;
    }
}

@media only screen and (max-width: 992px) {
    .left {
        display: none;
    }

    .input>label {
        color: #fff;
    }

    form {
        margin: 0 auto;
        width: 80%;
    }

    footer {
        flex-direction: column-reverse;
        padding: 20px auto;
        max-width: 1440px;
    }

    .foot_left_desc .foot_about {
        width: auto;
    }

    .foot_left_desc {
        padding-top: 5%;
    }

    .foot_right {
        justify-content: space-around;
        align-items: center;
        padding: 2%;
    }
}