footer {
    display: flex;
    justify-content: space-between;
    background: #F8F8F8;
    margin-top: 2%;
    padding: 15% 2% 3% 2%;
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.foot_left {
    text-align: left;
}

.foot_left_desc span {
    display: flex;
    align-items: center;
}

.foot_left_desc .foot_about {
    width: 340px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 25px;
}

.foot_created {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.foot-left-desc span>h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
    margin-left: 15px;
}

.foot_left_icon {
    margin-left: -20px;
    margin-top: 20px;
}

.footbar {
    display: flex;
}

.foot_right {
    padding: 20px;
    display: flex;
    text-align: left;
}

.foot_right_link {
    margin-right: 50px;
}

.foot_right .product {
    margin-right: 100px;
}

.foot_right_link ul li {
    list-style: none;
    margin-top: 20px;
    transition: all 0.4s;
}

.foot_right_link ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

/* animation */
.btn:hover,
.foot_left_icon img:hover,
.foot_right_link ul li:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

@media only screen and (max-device-width: 425px) {
    .card_banner {
        display: none;
        margin: 0 auto;
        width: 100%;
    }

    footer {
        padding: 25px auto;
    }

}

@media only screen and (max-device-width: 768px) {
    .form_bar {
        margin: 0 auto;
        width: 90%;
    }

    .navbar {
        padding: 40px 0 20px 0;
    }

    .navbar span p,
    .forgot_password,
    .inputbar h1 {
        color: #fff;
    }

    .nav__logo>p {
        font-size: 1.5em;
    }

    .navbar span img {
        opacity: 1;
        background-color: #F8F8F8;
        display: none;
    }

    .inputbar h1 {
        font-size: 3em;
        letter-spacing: 10px;
        text-shadow: 10px 5px 10px #F8F8F8;
    }

    .navbar {
        justify-content: space-around;
        padding: 20px auto;
    }

    .left>img {
        display: none;
    }

    .input #email {
        font-size: 0.85em;
    }

    .google>span {
        font-size: 0.90em;
    }

    .right {
        width: 100%;
        background-image: url('../assets/image/main/img_signup.png');
        opacity: 0.8;
        background-size: cover;
    }


    .input>input {
        font-size: 1em;
    }

    .inputbar {
        width: 80%;
    }

    .input>label {
        color: #fff;
    }

    .card_banner {
        height: 25%;
        width: 85%;
        border: 1px solid rgba(196, 196, 196, 0.67);
        left: 0;
        right: 0;
        bottom: -90px;
    }

    .card_banner div {
        width: auto;
    }

    .card_banner a {
        padding: 2%;
        text-align: center;
        font-size: 1em;
        word-wrap: break-word;
        width: 25%;
    }

    .card_banner div h2 {
        font-size: 1.5em;
    }

    footer {
        max-width: 1440px;
        flex-direction: column-reverse;
        padding: 20px auto;
        margin: 0 auto;
    }

    .foot_left_desc .foot_about {
        width: auto;
    }

    .foot_right_link {
        margin-right: 0;
    }

    .foot_right {
        margin: 30px 0 10px 0;
    }
}

@media only screen and (max-device-width: 992px) {
    .left {
        display: none;
    }

    .input>label {
        color: #fff;
    }

    form {
        margin: 0 auto;
        width: 80%;
    }

    .card_banner div h2 {
        width: auto;
        font-size: 1.75em;
    }

    .navbar span p,
    .forgot_password,
    .inputbar h1 {
        color: #fff;
    }

    .nav__logo>p {
        font-size: 1.5em;
    }

    .navbar span img {
        opacity: 1;
        background-color: #F8F8F8;
        display: none;
    }

    .inputbar h1 {
        font-size: 3em;
        letter-spacing: 10px;
        text-shadow: 10px 5px 10px #F8F8F8;
    }

    .right {
        width: 100%;
        background-image: url('../assets/image/main/img_signup.png');
        opacity: 0.8;
        background-size: cover;
    }

    .inputbar {
        width: 90%;
    }

    .card_banner {
        padding: 3%;
        width: 90%;
        height: 20%;
        bottom: -11%;
        left: 0;
        right: 0;
    }

    footer {
        flex-direction: column-reverse;
        padding: 20px auto;
        max-width: 1440px;
    }

    .foot_left_desc .foot_about {
        width: auto;
    }

    .foot_left_desc {
        padding-top: 5%;
    }

    .foot_right {
        justify-content: space-around;
        align-items: center;
        padding: 2%;
    }
}